body{
    width: 1855px;
    height: 755px;
    margin-top: 0px;
    margin-left: 0px;
}
.close a{
    float: right;
    margin-top: -95px;
    font-size: 70px;
    text-decoration: none;
    color: red;
}
.content{
    width: 836px;
    height: 683px;
    margin-top: 90px;
    margin-left: 90px;
}
.content h1{
    width: 338px;
    height: 55px;
    margin-top: 66px;
    margin-left: 206px;
    font-family: 'Montserrat';
    font-size: 31px;
    font-weight: 400;
    line-height: 38px;
    letter-spacing: 0em;
    text-align: center;

}
.content h2{
    width: 811px;
    height: 609px;
    top: 140px;
    left: 102px;
    font-family: 'Montserrat';
    font-size: 31px;
    font-weight: 400;
    line-height: 38px;
    letter-spacing: 0em;
    text-align: center;

}
.photo{
    width: 827px;
    height: 683px;
    margin-top: -683px;
    margin-left: 985px;
}
.photo img{
    width: 827px;
    height: 683px;
}

