body{
    width: 1855px;
    height: 1700px;
    margin-top: 0px;
    margin-left: 0px;
}
.close a{
    float: right;
    margin-right: 20px;
    font-size: 70px;
    margin-top: -60px;
    text-decoration: none;
    color: red;

}
.stark{
    width: 1560px;
    height: 318px;
    margin-left: 100px;
    margin-top: 60px;
}
.stark img{
    width: 425px;
    height: 318px;
}
.stark h1{
    width: 588px;
    height: 41px;
    color: #000;
    margin-left: 600px;
    margin-top: -330px;
    font-family: 'Montserrat';
    font-size: 30px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}
.stark h2{
    width: 730px;
    height: 230px;
    color: #000;
    margin-left: 600px;
    font-family: 'Montserrat';
    font-size: 30px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}
.america{
    width: 1560px;
    height: 318px;
    margin-left: 100px;
    margin-top: 100px;
}
.america img{
    width: 425px;
    height: 318px;
}
.america h1{
    width: 648px;
    height: 41px;
    color: #000;
    margin-left: 600px;
    margin-top: -330px;
    font-family: 'Montserrat';
    font-size: 30px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}
.america h2{
    width: 960px;
    height: 229px;
    color: #000;
    margin-left: 600px;
    font-family: 'Montserrat';
    font-size: 30px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

.tor{
    width: 1560px;
    height: 318px;
    margin-left: 100px;
    margin-top: 150px;
}
.tor img{
    width: 425px;
    height: 318px;
}
.tor h1{
    width: 365px;
    height: 41px;
    margin-left: 600px;
    margin-top: -330px;
    color: #000;
    font-family: 'Montserrat';
    font-size: 30px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}
.tor h2{
    width: 960px;
    height: 229px;
    color: #000;
    margin-left: 600px;
    font-family: 'Montserrat';
    font-size: 30px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}
.halk{
    width: 1560px;
    height: 318px;
    margin-left: 100px;
    margin-top: 200px;
}
.halk img{
    width: 425px;
    height: 318px;
}
.halk h1{
    width: 365px;
    height: 41px;
    margin-left: 600px;
    margin-top: -330px;
    color: #000;
    font-family: 'Montserrat';
    font-size: 30px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}
.halk h2{
    width: 960px;
    height: 229px;
    color: #000;
    margin-left: 600px;
    font-family: 'Montserrat';
    font-size: 30px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}